
<br>
<br>
<% if @recipe_creator %>
    <h1><%= @recipe_creator.name %>'s Recipes </h1>
<% else %>
    <h1> Recipe Box </h1>
<% end %>

    <% @recipes.each do |r| %><br>
        Title: <%= r.title %> <br>
        Created by: <%= r.recipe_creator.name %> <br>
        Added by: <%= r.contributor.name %> 
        <br>
        <br>
    <% end %>
    